.app {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 500px;
}

.search-box input {
  border: 2px solid gray;
  border-radius: 10px;
  width: 500px;
  height: 30px;
  font-size: 14px;
  margin-bottom: 20px;
  outline: none
}

.categories {
  font-weight: bold;
  padding-top: 20px;
}

.header {
  display: flex;
  font-size: 18px; 
  font-weight: bold;
  justify-content: space-between;
}

.products-list {
  padding-top: 30px;
}

.product {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
